*{
	font-family: "helvetica";
}

main {
	margin: 20px;
}

.top {
	background: black;
	color: white;
	height: 50px;
	padding: 30px 0 0 10px;

}
section {
	color: gray;
	border:  solid;
	border-width: 1px;
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.feedback{
	margin-left:5px;
	font-weight: bold;
}

hr {
	width: 98%;
}

h2 {
	
	color: black;
	margin-top: 0;
}

span {
	font-size: 12px;
}

footer {
	
	height: 60px;
	padding-top: 20;
	background: black;
	margin-top: 0;
	margin-left: 20px;
}


ul {
	list-style-type: none;
	color: white;

}
li {
	padding-top: 20px;
	float:left;
	margin-left:25px;
	color: white;

}

.cntrl{
	color: white;
	list-style-type: none;
	text-decoration: none;
}

#lic{
	text-align: right;
	padding-top: 20px;
	color: white;
}

.ctrl{
	color: white;
}

